@model IEnumerable<MedicReach.Services.Reviews.Models.ReviewServiceModel>

<div class="row mb-4 float-none">
    @foreach (var review in Model)
    {
         <div class="col-md-4">
             <div class="card" style="width: 18rem; height: 20rem;">
                 <h5 class="card-title text-center">Rating:</h5>
                 <div class="pb-2 text-center">
                     <h4>
                        @for (int i = 0; i < review.Rating; i++)
                        {
                           <i class="bi bi-star-fill text-warning"></i>
                        }
                     </h4>
                 </div>
                 <div class="card-body">
                     <h5 class="card-title">@review.CreatedOn</h5>
                     <p class="card-text">@review.Comment</p>
                 </div>
             </div>
         </div>
    }
</div>