@model MedicReach.Models.Reviews.ReviewFormModel

@{ ViewData["Title"] = "Write a Review"; }

<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-sm-12 ">
            <h2 class="heading-margin text-center">@ViewData["Title"]</h2>
            <form method="post">
                <div class="form-group">
                    <input asp-for="PatientId" class="form-control" hidden>
                    <input asp-for="PhysicianId" class="form-control" hidden>
                </div>
                <div class="form-group">
                    <label asp-for="Rating"></label>
                    <input asp-for="Rating" class="form-control" placeholder="2 Fleet Street, ...">
                    <span asp-validation-for="Rating" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Comment"></label>
                    <textarea asp-for="Comment" rows="3" class="form-control" placeholder="Doctor Johnson is great! I can't thank him enough..."></textarea>
                    <span asp-validation-for="Comment" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary" type="submit" value="Save" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}